a:link {
    color: green;
    background-color: none;
    text-decoration:wavy;
    border: 4px dotted grey;
    display: block;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  outline-color: aqua;
}
button{
    justify-content: space-around;
    margin: 20px; if space between 20 and px it wont work
    
}